body{
    padding: 0;
    margin: 0;
    background-color: rgba(208, 127, 127, 0.905);
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.button_1{
    height: 38px;
    background: #d99999;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color:#000000;
}
.dark{
    padding: 10px;
    background:#300505;
    color: #2f0606;
    margin-top: 10px;
    margin-bottom:10px;
}
header{
    background:#6a101037;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: hsl(0, 100%, 3%) 5px solid;
}
header a{
    color: #030000;
    text-decoration: none;
    text-transform: uppercase;
    font: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .current a {
    color:rgb(34, 6, 6);
    font-weight: bold;
}
header a:hover{
    color:#060000;
    font-weight: bold;
}
#showcase{
    min-height: 350px;
    background: url(img/Screenshot\ 2025-04-29\ at\ 12.26.58\ PM.png) no-repeat 0 -350px;
    background-size: cover;
    text-align: center;
    color: #440909;
}
#showcase p{
    font-size: 20px;
}
#newsletter{
    padding: 15px;
    color: #971313;
    background: rgb(255, 255, 255);
}
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: rgb(106, 31, 31);
}
#newsletterh1{
    float: left;
}
#newsletterform{
    float: right;
}
#newsletter input[type="email"]{
    padding:4px;
    height:24px;
    width:250px;
}
#boxes{
    margin-top: 20px;
}
#boxes.box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
aside#side .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}
article#main-col{
    float: left;
    width:65%;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #b94d4d;
    text-align: center;
}
p{
    color: #000000;
}